{% if messages %}
    <div class="row">
        <div class="col-12">
            <ul class="messages text-center col-12">
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <li class="alert alert-success">{{ message }}</li>
                    {% elif message.tags == 'error'%}
                        <li class="alert alert-danger">{{ message }}</li>
                    {% elif message.tags == 'info' %}
                        <li class="alert alert-info">{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>    
{% endif %}