{% extends "layout.html" %}

{% block content %}
<form method="post" >
  {% csrf_token %}
    <div class="row">
      <div class="col-md-6 col-sm-12 mx-auto">
        <div class="card col-12">
          <div class="card-body text-center">
            <h3>¿Olvidastes tu Contraseña?</h3>
            <p>Indicanos tu correo electronico con el que te registraste para poder recuperar tu contraseña.</p>
            <div class="row">
              <div class="form-group col-11">
                <input type="email" required class="form-control" placeholder="Correo" name="email">
              </div>
            </div>
            <div class="row">
              <div class="col-6 mx-auto">
                <button type="submit" class="btn btn-primary col-12 ">Enviar</button>
              </div>
            </div>
            <div class="row">
              <div class="col-6 text-center mx-auto mt-3">
                <label>¡Ya me acorde!</label>
                <a href="{% url 'login' %}">Iniciar Sesión</a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12 text-center mx-auto mt-3">
                <label>Si no te has registrado</label>
                <a href="{% url 'registro' %}" class="btn btn-outline-primary col-12 ">Registrate</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    
</form>
{% endblock %}